html,body {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#1b2942, #243b55);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-edit{
background-color: #14171d !important
}
.btn-add{
background-color: #14171d !important
}
.btn-search{
background-color: #14171d !important
}
.btn-back{
background-color: #14171d 
}
.btn-submit{
background-color: #14171d 

}

.btn {
  color: #fff !important;
  font-size: 14px;
  border: none;
  border-radius: 8px !important;  
}


.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px
  
}

.form-box .item-box input {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5) !important;
  border: none;
  outline: none;
  text-decoration: none;
  letter-spacing: 1px
}
.form-box .item-box label {
  font-size: 12px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px
}

.form-box button .btn-back,
.form-box button .btn-submit{
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #03e9f4;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  margin-top: 15px;
  letter-spacing: 4px
}

.form-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}









